
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    background-color: white;
    color: gray; 
  }
  
  h1 {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: grey;
  }
  
  
  .hero-section {
    position: relative;
    height: 400px;
    color: white;
  }
  
  .overlay {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: 140px; */
    align-items: center;
    
  }

  .navbar {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 1040px;
    font-size: 20px;
    gap: 14px;
    cursor: pointer;
  }
  
  .options {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    
  }

  .search-bar {
    margin-top: 20px;
    gap: 10px;
  }
  
  .location-select {
    padding: 10px;
    border: none;
    border-radius: 5px;  
  }

  .search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;  
  }

  .search-button {
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background-color: red;
    color: white; 
    cursor: pointer;
  }
    
  .quick-search {
    padding: 20px;
    text-align: center;
    margin-top: 180px;
  }
  
  .categories {
    display: flex;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;  
  }
  
  .category {
    background-color: white;
    padding: 12px;
    gap: 20px;
    border-radius: 10px;
    width: 20%;
  }

   h3 {
    margin: 10px ;
    color: black;
  }
  
   p {
    color: brown;
    margin-top: 20px;
  }

  .category img {
    border-radius: 10px;
  }
  
  .category img:hover {
    filter: brightness(0.9);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   
  }

  .category :hover{
    text-decoration: underline;
  }
  
  
  